<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

nav {

    height: 50px;
    background: #212121;
}

.menu_link {
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu_link:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 12px 70px;

}

.menu_item {
    border-right: 2px dotted black;
    padding-right: 3vw;
}

.last_item {
    border: none;
}

.subheader {
    height: 84px;
    background-color: rgba(0, 0, 0, .6)
}

.logo {
    width: 7vw;
    margin-top: 12px;

}

.subheader_official {
    font-weight: 100;
    font-size: 13px;
    color: white;
    opacity: 0.5;
    margin-top: 3px;
    cursor: default;
}

.subheader_call {
    margin-top: 17px;
    margin-bottom: 5px;
    color: white;
    font-weight: 300;
    font-size: 12px;
    cursor: default;


}

.subheader_phone {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20 px;
}

.subheader_btn {
    margin-top: 12px;
    width: 180px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -7px 0px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 46px;
    color: white;
    text-transform: uppercase;
}

/* @media(max-width: 770px) {
    .menu {
        font-size: 0.5em;
    }
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

nav {

    height: 50px;
    background: #212121;
}

.menu_link {
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu_link:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 12px 70px;

}

.menu_item {
    border-right: 2px dotted black;
    padding-right: 3vw;
}

.last_item {
    border: none;
}

.subheader {
    height: 84px;
    background-color: rgba(0, 0, 0, .6)
}

.logo {
    width: 7vw;
    margin-top: 12px;

}

.subheader_official {
    font-weight: 100;
    font-size: 13px;
    color: white;
    opacity: 0.5;
    margin-top: 3px;
    cursor: default;
}

.subheader_call {
    margin-top: 17px;
    margin-bottom: 5px;
    color: white;
    font-weight: 300;
    font-size: 12px;
    cursor: default;


}

.subheader_phone {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20 px;
}

.subheader_btn {
    margin-top: 12px;
    width: 180px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -7px 0px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 46px;
    color: white;
    text-transform: uppercase;
}

/* @media(max-width: 770px) {
    .menu {
        font-size: 0.5em;
    }
>>>>>>> 3305fb8e95d5832365c99c5aeaa8f8a7e9eeea4f
} */